:root {
    --global-color: whitesmoke;
    --global-bg-color: black;
    --section-selected-color: springgreen;
}

body {
    margin: 0;
    padding: 1rem;
    background-color: var(--global-bg-color);
    color: var(--global-color);
}

header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: .25rem;
    border: solid 1px var(--global-color);
    border-radius: 5px;
    padding: .5rem;
}

hr {
    width: 100%;
    border: none;
    border-bottom: inset 1px var(--global-color);;
}

#show-list,
.funcitons {
    display: inline-flex;
    flex-wrap: wrap;
    gap: .5rem;
}

button,
.button {
    display: block;
    padding: .25rem .5rem;
    min-width: max-content;
    background-color: var(--global-bg-color);
    color: var(--global-color);
    border: solid 1px var(--global-color);
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    user-select: none;
}

button:active,
.button:active {
    background-color: var(--global-color);
    color: var(--global-bg-color);
}


a,
a:active,
a:visited {
    color: var(--global-color);
    text-decoration: none;
}

summary {
    cursor: pointer;
    user-select: none;
}

.episode-info {
    border: solid 1px var(--global-color);
    border-radius: 5px;
    padding: .5rem 1rem;
    margin-top: 1rem;
    cursor: pointer;
    overflow-wrap: anywhere;
}

.episode-info .title {
    margin: 0;
    padding: 1rem;
    font-size: large;
}

.episode-info summary {
    margin-left: 1rem;
}

.episode-info:has(:checked) {
    border-color: var(--section-selected-color) !important;
}