:root {
    --global-color: 245 245 245;
    --global-bg-color: 0 0 0;
    --section-selected-color: 0 255 127;
    --watched-badge-color: 255 255 224;
}

* {
    margin: 0;
}

body {
    padding: 1rem;
    background-color: rgb(var(--global-bg-color));
    color: rgb(var(--global-color));
}

header {
    display: inline-flex;
    flex-wrap: wrap;
    gap: .5rem;
}

button,
.function-button {
    display: block;
    padding: .25rem .5rem;
    min-width: max-content;
    background-color: rgb(var(--global-bg-color));
    color: rgb(var(--global-color));
    border: solid 1px rgb(var(--global-color));
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    user-select: none;
}

button:active,
.function-button:active {
    background-color: rgb(var(--global-color));
    color: rgb(var(--global-bg-color));
}

.function-button>select,
.function-button>select:focus-visible {
    background-color: rgb(var(--global-bg-color));
    color: rgb(var(--global-color));
    font-size: 1rem;
    margin: 0;
    padding: 0;
    border: none;
    outline-style: none;
}

.function-button>select:active {
    background-color: rgb(var(--global-color));
    color: rgb(var(--global-bg-color));
}

section {
    border: solid 1px rgb(var(--global-color));
    border-radius: 5px;
    padding: .5rem 1rem;
    margin-top: 1rem;
    cursor: pointer;
}

section[data-selected=true] {
    border-color: rgb(--section-selected-color);
}

dt {
    font-weight: bold;
    padding: .25rem 0;
    user-select: none;
}

dt::after {
    content: " :";
}

dd {
    padding: 0 1rem;
    overflow-wrap: anywhere;
}

dt,
dd {
    cursor: default;
}

a,
a:active,
a:visited {
    color: rgb(var(--global-color));
}


.episode-title::after {
    display: block;
    content: "[not watch yet] ";
    color: rgb(var(--watched-badge-color));
}

.episode-title:hover::after {
    content: "(click to watched!)";
}

section[data-watched="true"] .episode-title::after {
    content: "[watched] ";
}

section[data-watched="true"] .episode-title:hover::after {
    content: "(click to unwatched!)";
}

.episode-description img {
    width: 50% !important;
    height: auto !important;
}

.resource-url {
    display: inline-flex;
    align-items: start;
    gap: 1rem;
}

.resource-url button {
    padding: .125rem .5rem;
    border-radius: 3px;
}

summary {
    cursor: pointer;
    user-select: none;
}