body {
    background-color: lightcyan;
    display: flex;
    margin: 0;
    width: 100vw;
}

header {
    display: flex;
    padding: 1.25rem;
    background-color: aliceblue;
    background-color: aquamarine;
    width: 100%;
}

button {
    padding: .5rem 1rem;
    background-color: #fff;
    border: none;
    border-radius: 100px;
}

main {
    background-color: aliceblue;
    
}